<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;Dashboard
        </a>
        <a [routerLink]="['/relay']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-power-off"></i>&nbsp;Relay
        </a>
        <a [routerLink]="['/indicator']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-lightbulb-o"></i>&nbsp;Indicator
        </a>
        <a [routerLink]="['/alarm']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-clock-o"></i>&nbsp;Alarm
        </a>
        <a [routerLink]="['/room-setup']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-home"></i>&nbsp;Room Setup
        </a>         
        <a [routerLink]="['/fileshare']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file"></i>&nbsp;Fileshare
        </a>
    </ul>
</nav>
