<div class="row">
  <div class="col-md-12">
    <button class="btn btn-default" (click)="addAlarm()">Add Alarm</button>
    <br>
    <div *ngFor="let alarm of alarms" class="card" style="width: 40rem;">
      <div class="card-header">
        <h4 class="card-title">
          <i (click)="activate(alarm)" class="fa fa-lg" [ngClass]="alarm.active ? 'fa-toggle-on' : 'fa-toggle-off'" aria-hidden="true"></i>
          <span *ngIf="!alarm.edit">{{alarm.name}}</span>
          <input *ngIf="alarm.edit" type="text" [(ngModel)]="alarm.name">
          <button *ngIf="!alarm.edit" class="btn btn-sm btn-secondary" (click)="alarm.edit = true">Edit</button>
          <button *ngIf="alarm.edit" class="btn btn-sm btn-secondary" (click)="save(alarm)">Save</button>
          <button *ngIf="alarm.edit" class="btn btn-sm btn-secondary" (click)="cancel(alarm)">Cancel</button>
          <button class="btn btn-sm btn-danger" (click)="delete(alarm)">Delete</button>
        </h4>
      </div>
      <div class="card-block">
        <label *ngIf="!alarm.edit"> {{getTime(alarm.cronDate) | date: 'hh:mm a'}}</label>
        <input *ngIf="alarm.edit" type="time" [(ngModel)]="alarm.newTime">
        <br>
        <label>Triggers: </label> 
        <br>
        <app-trigger *ngIf="alarm.edit" (onGetTrigger)="onGetTrigger($event, alarm)" ></app-trigger>
        <div *ngFor="let t of alarm.triggerString">
          {{t}}<button *ngIf="alarm.edit" class="btn btn-sm btn-danger" (click)="deleteTrigger(t, alarm)">x</button>
        </div> 
      </div>
    </div>
  </div>
</div>
