<div class="row">
  <div class="col-md-12">
    <h2>{{title}}</h2>

    <!-- RELAY CARD -->
    <div *ngFor="let relay of relays; let relayI = index" class="card" style="width: 20rem;">
    <div class="card-header">
      <h4 class="card-title">{{relay.name}}
        <button class="btn btn-sm btn-secondary" (click)="all(relay, false)">All Off</button>
        <button class="btn btn-sm btn-secondary" (click)="all(relay, true)">All On</button>
      </h4>
    </div>
    <div class="card-block">
      <div *ngFor="let channel of relay.channels; let channelI = index">
        <label>{{channel.name}}</label>
        <button class="btn btn-sm btn-secondary" [class.on]="channel.isOn" [class.off]="!channel.isOn" (click)="toggle(relayI, channelI)"><i class="fa fa-power-off" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>