<div class="row">
  <div class="col-md-12">
    <br>
    <input type="text" [(ngModel)]="name">
    <button *ngIf="!settingUp" class="btn btn-secondary" (click)="setup()">Setup New Room</button>
    <button *ngIf="settingUp" class="btn btn-secondary" (click)="submitRoom()">Finish!</button>
    <br>
    <p>{{message}}</p>
    <p>{{currentRoom}}</p>
    <br><br>

    <div *ngFor="let room of rooms" class="card" style="width: 40rem;">
      <div class="card-header">
        <h4 class="card-title">
          <span *ngIf="!room.edit" >{{room.name}}</span>
          <input *ngIf="room.edit" type="text" [(ngModel)]="room.name">
          <button *ngIf="!room.edit" class="btn btn-sm btn-secondary" (click)="room.edit = true">Edit</button>
          <button *ngIf="room.edit" class="btn btn-sm btn-secondary" (click)="save(room)">Save</button>
          <button *ngIf="room.edit" class="btn btn-sm btn-secondary" (click)="cancel(room)">Cancel</button>
          <button class="btn btn-sm btn-danger" (click)="delete(room)">Delete</button>
        </h4>        
      </div>

      <div class="card-block">
        <div *ngIf="!room.edit">
          <label>Enter: </label> {{room.enter | json}}<br>
          <label>Leave: </label> {{room.leave | json}}
        </div>



        <div *ngIf="room.edit">
          <!--SELECT NODE-->
          <select [(ngModel)]="node">
            <option *ngFor="let n of nodes" [ngValue]="n">{{n.name}}</option>
          </select>

          <!--SELECT MODULE-->
          <select *ngIf="node != null" [(ngModel)]="module">
            <option *ngFor="let m of node.modules" [ngValue]="m">{{m.type}}</option>
          </select>

          <!--SELECT ACTION-->
          <select *ngIf="module != null" [(ngModel)]="action">
            <option *ngFor="let a of actions[module.type]" [ngValue]="a">{{a}}</option>
          </select>

          <!--SELECT VALUE-->        
          <select *ngIf="module != null && module.type == 'relay' && action != null" [(ngModel)]="value">
            <option *ngFor="let c of module.channels; let cI = index" [ngValue]="cI">{{c.name}}</option>
          </select>
          <span class="bulb"
            *ngIf="module != null && module.type == 'indicator' && action != null"
            [(colorPicker)]="value"
            [cpPosition]="'bottom'"
            [cpOutputFormat]="'rgba'"
            [style.color]="value"
            [cpFallbackColor]="'#000'"
            [cpPositionRelativeToArrow]="true">
            <i class="fa fa-lightbulb-o fa-4x" aria-hidden="true"></i>
          </span>
        </div>

      </div>
    </div>
    <!--<p>{{nodes | json}}</p>-->
  </div>
</div>