#cosmos-home {
    display: block;
    width: auto;
    height: 500px;
    vertical-align: middle;
    margin: 0 auto;
}

#cosmos-desc {
	display: block;
	text-align: center;
	margin: 20px;
	width: auto;
    height: 500p
}