<div class="row">
  <div class="col-md-12">
    <br>
    <input type="text" [(ngModel)]="name">
    <button *ngIf="!settingUp" class="btn btn-secondary" (click)="setup()">Setup New Room</button>
    <button *ngIf="settingUp" class="btn btn-secondary" (click)="submitRoom()">Finish!</button>
    <br>
    <p>{{message}}</p>
    <br>
    <label>Current room: </label>&nbsp; {{currentRoom}}
    <br><br>

    <div *ngFor="let room of rooms" class="card" style="width: 40rem;">
      <div class="card-header">
        <h4 class="card-title">
          <span *ngIf="!room.edit" >{{room.name}}</span>
          <input *ngIf="room.edit" type="text" [(ngModel)]="room.name">
          <button *ngIf="!room.edit" class="btn btn-sm btn-secondary" (click)="room.edit = true">Edit</button>
          <button *ngIf="room.edit" class="btn btn-sm btn-secondary" (click)="save(room)">Save</button>
          <button *ngIf="room.edit" class="btn btn-sm btn-secondary" (click)="cancel(room)">Cancel</button>
          <button class="btn btn-sm btn-danger" (click)="delete(room)">Delete</button>
        </h4>        
      </div>

      <div class="card-block">
        <div *ngIf="room.edit">
          <label>Enter: </label> <app-trigger (onGetTrigger)="onGetTrigger($event, room, 'enter')"></app-trigger>
          <label>Leave: </label> <app-trigger (onGetTrigger)="onGetTrigger($event, room, 'leave')"></app-trigger>
        </div>
        <div>
          <label>Enter: </label>
          <ul>
            <li *ngFor="let s of room.enterString">{{s}}</li>
          </ul>
          <label>Leave: </label>
          <ul>
            <li *ngFor="let s of room.leaveString">{{s}}</li>
          </ul>
        </div>
      </div>
    </div>
    <!--<p>{{nodes | json}}</p>-->
  </div>
</div>