<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
</style>

<div class="row">
    <div class="col-md-3">
        <br>
        <div ng2FileDrop
            [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
            (fileOver)="fileOverBase($event)"
            [uploader]="uploader"
            class="well my-drop-zone">
            Drag Files Here
        </div>

        <p>Queue length: {{ uploader?.queue?.length }}</p>

        <div>
            <div>
                Queue progress:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
                <br>
            </div>
            <button type="button" class="btn btn-success btn-sm"
                    (click)="uploader.uploadAll() && getFiles()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload
            </button>
            <button type="button" class="btn btn-warning btn-sm"
                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>
            <button type="button" class="btn btn-danger btn-sm"
                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
        </div>
    </div>

    <div class="col-md-9">
        <br>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Size</th>
                <th>Download</th>
                <th>Delete</th>
            </tr>
            <tr *ngFor="let file of files">
                <td>{{file.name}}</td>
                <td>{{file.path.substring(file.path.indexOf('1489')) | date}}</td>
                <td>{{file.size}}</td>
                <td><a href="{{file.path.substring(3)}}">Download</a></td>
                <td (click)="remove(file)">x</td>
            </tr>
        </table>
    </div>
</div>