<div class="row">
  <div class="col-md-12">
  <p>
    The Cosmos Cloud is a smart-home system that is used to control the home (and beyond) through the use of modularized components connected to a central hub. Modules come in both a software and hardware form, interacting completely with the central server. This allows modules to interact with all other modules - giving complete control to the user to tailor to specific use cases, whether it be for accessibility, luxury, or other uses.
  </p>
  <img [src]="cosmosImage">
  </div>
</div>